<mat-card class="main">
  <div class="head">
    <span>Titre de la carte</span>
    <button mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="content">
    <span>Notre textNotre textNotre textNotre textNotre textNotre textNotre textNotre textNotre textNotre textNotre textNotre textNotre textNotre textNotre textNotre textNotre textNotre textNotre textNotre textNotre textNotre text </span>
  </div>
</mat-card>
