<div class="main">
  <div class="nav-left">
    <img (click)="send()" width="100" height="50"
         src="https://www.notretemps.com/cache/com_zoo_images/f3/chardonneret-oiseaux-jardin_476e63380d6ad0ed921293ec955acf51.jpg">
    <div (click)="ourMethode('Hello Angular')" class="item">
      <span>{{message}}</span>
    </div>
    <div class="item">
      <span>Company reviews</span>
    </div>
    <div class="item">
      <span>Find salaries</span>
    </div>
  </div>
  <div class="nav-right">
    <div class="item">
      <span>Update your resume</span>
    </div>
    <div class="item selected">
      <span>Sign in</span>
    </div>
    <div class="v-bar"></div>
    <div class="item">
      <span>Employers/Post job</span>
    </div>
  </div>
</div>
