<div class="add-container">
  <mat-card class="form">
    <h1>Ajouter une note</h1>
    <div class="inputs">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Titre</mat-label>
        <input [formControl]="title" matInput>
      </mat-form-field>
      <mat-form-field class="input" appearance="fill">
        <mat-label>Contenu</mat-label>
        <textarea [formControl]="content" rows="6" matInput></textarea>
      </mat-form-field>
      <button (click)="addNote()" mat-flat-button color="primarys">Ajouter</button>
    </div>

  </mat-card>
</div>
